src/Core/_Module/ModuleData/XmlSchemas/AbilityHeroes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="AbilityHeroes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AbilityHero">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="AbilitySlot">
								<xs:complexType>
									<xs:attribute name="action" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="id" type="xs:string" use="required" />
						<xs:attribute name="character_id" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
